@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Agbalumo & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Manrope:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    height: 100%;
    width: 100vw;
    background-color: #11071F;
    font-family: 'Fira code';
}

.nav{
    top: 0%;
    height: 10vh;
    padding: 40px;
    width: 100vw;
    grid-area: nav;
    background:#1A0B2E;
    display: flex;
    align-items: center;
    gap: 12px;
    position: fixed;
}
.nav-logo{
    color: var(--white, #FFF);
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 22px;
    gap :8px;
}

.nav-text{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav > div > ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
}

.nav a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    
}

.nav  a:hover {
    color: gray;
    text-shadow: 0 0 10px rgba(89, 89, 89, 0.748)
    
}
.nav li:hover {
    transform: scale(1.1);
}

.logo{
    height: 10vh;
}

.foto{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(Imagenes/AdobeStock_126016889apaisado.jpg);
    display: flex;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.perfil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 20px;
}

.perfil:hover{
    transform: scale(1.1);
}

.textos{
    color: #1A0B2E;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contrato:hover{
    transform: scale(1.2);
}

.contrato{
    color: #11071F;
    font-family: 'Fira code';
    font-size: 30px;
    display: flex;
    width: 200px;
    height: 64px;
    padding: 16px 38px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    cursor: pointer;
    border: 1px solid white;
}

.section-two{
    width: 100%;
    height: 100vh;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11071F;
}

.titulo-two{
    color: white;
    font-size: 50px;
}

.projects{
    display: flex;
    gap: 20px;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.projects-card{
    border: 1px solid #FFF;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
}

.projects img{
    width: 400px;
    height: 50%;
}

.buttonlive{
    color:#11071F;
    background-color: #FFF;
    border-radius: 20px;
    font-family: 'Fira code';
    font-size: 20px;
    height: 40px;
    width: 90px;
    margin-top:20px;
    cursor: pointer;
    border: 0;
}

.buttonlive:hover{
    transform: scale(1.2);
}

.section-three{
    width: 100%;
    height: 100vh;
    top: auto;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #11071F;
}

.title-three{
    margin-top: 70px;
    font-family: 'Fira Code';
    font-size: 50px;
    color: #FFF;

}

.skill {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code';
    justify-content: end;
    margin:40px;
}

.skill2{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code';
    justify-content: end;
    margin: 40px;
}

/* Estilos comunes para todas las tarjetas */
.skill-card {
    border: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 180px;
    height: 170px;
}

.title-card{
    width: 110%;
    border-bottom: 2px solid gray;
    }
.javascript{
    display: flex;
    align-items: center;
    gap: 2px;
}

.javascript img{
    width: 45px;
    height: 30px;
}

.java{
    display: flex;
    align-items: center;
    gap: 2px;
}

.java img{
    width:40px;
    height: 20px;
}

.python{
    display: flex;
    align-items: center;
    gap: 2px;
}

.python img{
    width: 16px;
    height: 19px;
}

.mysql{
    display: flex;
    align-items: center;
    gap: 2px;
}

.mysql img{
    width: 30px;
    height: 20px;
}

.mongo{
    display: flex;
    align-items: center;
    gap: 2px;
}

.mongo img{
    width: 16px;
    height: 16px;
}

.postgreSQL{
    display: flex;
    align-items: center;
    gap: 2px;
}

.postgreSQL img{
    width: 16px;
    height: 16px;
}

.html{
    display: flex;
    align-items: center;
    gap: 2px;
}

.html img{
    width: 20px;
    height: 20px;
}

.css{
    display: flex;
    align-items: center;
    gap: 2px;
}

.css img{
    height: 18px;
    width: 18px;
}

.figma{
    display: flex;
    align-items: center;
    gap: 2px;
}

.figma img{
    width: 16px;
    height: 16px;
}

.linux{
    display: flex;
    align-items: center;
    gap: 2px;
}

.linux img{
    width: 16px;
    height: 16px;
}

.git{
    display: flex;
    align-items: center;
    gap:2px;
}

.git img{
    width: 16px;
    height: 16px;
}

.react{
    display: flex;
    align-items: center;
    gap: 2px;
}

.react img{
    width: 16px;
    height: 16px;
}
.angular{
    display: flex;
    align-items: center;
    gap: 2px;
}

.angular img{
    width: 16px;
    height: 16px;
}

.vue{
    display: flex;
    align-items: center;
    gap: 2px;
}

.vue img{
    height: 16px;
    width: 16px;
}
